# Idea
**/.idea
**/*.iml
**/*.iws
**/*.ipr
**/out/
!**/src/main/**/out/
!**/src/test/**/out/

# eclipse
**/.eclipse

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# fleet
**/.fleet

# Java
**/target

# log
**/log
**/*.log

# gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
lib

# maven
.mvn/*.jar
**/.flattened*.xml

# macos
.DS_Store
# Ignore Gradle build output directory
build
